*, *::before, *::after{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin:  0;
    background: linear-gradient(to left, hsla(310, 94%, 28%, 0.986), hwb(189 34% 0% / 0.952));
    /*
    --color shift
    background: linear-gradient(to right, #a0ffca, #aa004a);
    */    
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);

}

.calculator-grid >button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5%;
    outline: none;
    background-color: rgba(255, 255, 255, 0.144);

}

.calculator-grid > button:hover{
    background-color: rgba(255, 255, 255, 0.24);
}

.span-two{
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.253);
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10%;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}